<div id="carousel-wrapper">
  <div id="carousel-main" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000"
    [class.d-none]="isLoadingTrend">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of trending;let i=index" [class.active]="i == 0"
        data-bs-interval="10000">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="carousel-container">
                <a>
                  <div class="title">
                    {{item.title || item.name}}
                    <span class="Qlty align-middle">{{item.media_type == 'movie'? 'PELÍCULA': 'SERIE'}}</span>
                  </div>
                </a>
                <p class="Info">
                  <span class="Vote">{{item.vote_average}}</span>
                  <span class="Time">1h 56m</span>
                  <span class="Date">{{item.release_date | date: 'yyyy'}}</span>
                  <span class="Qlty">HD</span>
                </p>
                <p class="description">{{item.overview}}</p>
                <a class="btn btn-primary btn-lg btn-rounded" [routerLink]="['/detalle', item.id, item.media_type]">
                  <i class="fa fa-play"></i> Ver {{item.media_type == 'movie'? 'Película': 'Serie'}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <img src="https://image.tmdb.org/t/p/w1280{{item.backdrop_path}}" alt="" draggable="false">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <ol class="carousel-indicators">
            <ng-container *ngFor="let item of trending;let i=index">
              <li data-bs-target="#carousel-main" [attr.data-bs-slide-to]="i" [class.active]="i == 0"></li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isLoadingTrend">
    <app-skeleton height="475px" class="mb-3"></app-skeleton>
  </ng-container>
</div>
<!-- Sections -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
      <div class="widget-title">TOP ESTRENOS</div>
      <ul class="MovieList top">
        <ng-container *ngIf="!isLoadingRated">
          <li class="mb-3" *ngFor="let item of rated">
            <app-card-movie-small [movie]="item"></app-card-movie-small>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoadingRated">
          <li class="mb-3" *ngFor="let item of [].constructor(8)">
            <div class="row">
              <div class="col-4">
                <app-skeleton height="80px" radius="0.5em"></app-skeleton>
              </div>
              <div class="col">
                <app-skeleton height="20px" radius="0.5em"></app-skeleton>
                <app-skeleton height="20px" radius="0.5em" class="mt-3"></app-skeleton>
              </div>
            </div>

          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>