<div class="row">
  <div class="col-md-3 col-6 mb-3" *ngFor="let item of movies.results">
    <app-card-movie [movie]="item"></app-card-movie>
  </div>
</div>
<nav class="navigation pagination">
  <div class="nav-links">
    <a class="prev page-numbers" (click)="previousPage()">
      <i class="fa fa-arrow-left"></i>
    </a>
    <!-- <a class="page-link">1</a> -->
    <a class="page-link current">{{movies.page}}</a>
    <!-- <a class="page-link">3</a>
    <a class="page-link">4</a> -->
    <span class="extend">...</span>
    <a class="page-link" (click)="goToPage(movies.total_pages)">{{movies.total_pages | number: '0.0-0'}}</a>
    <a class="next page-numbers" (click)="nextPage()">
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</nav>