<section class="home-movies">
  <div class="Top">
    <h2 class="Title">Películas Online</h2>
    <div class="btnstp">
      <a data-tab="tab-1" class="Button STPb" [class.Current]="tagActive == 'popular'" (click)="goToTag('popular')">
        ÚLTIMAS
      </a>
      <a data-tab="tab-2" class="Button STPb" [class.Current]="tagActive == 'playing'" (click)="goToTag('playing')">
        ESTRENOS
      </a>
      <a data-tab="tab-3" class="Button STPb" [class.Current]="tagActive == 'rated'" (click)="goToTag('rated')">
        RANKING
      </a>
      <a data-tab="tab-4" class="Button STPb" [class.Current]="tagActive == 'upcoming'" (click)="goToTag('upcoming')">
        MÁS VISTAS
      </a>
    </div>
  </div>
</section>
<div class="tab">
  <app-list-movies [movies]="popular" (changePage)="goToPage($event)" [isLoading]="isLoadingPopular">
  </app-list-movies>
</div>