<footer class="ft ok">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="dfxb">
          <figure class="logo-ft"><img src="/assets/logo.png" alt="cuevana">
          </figure>
          <nav class="dfxb">
            <ul class="mnft dfxb">
              <li class="menu-item">
                <a href="#">Aviso legal</a>
              </li>
              <li class="menu-item">
                <a href="#">DMCA</a>
              </li>
              <li class="menu-item">
                <a href="#">Cuevana</a>
              </li>
              <li class="menu-item">
                <a href="#">Cuevana Online</a>
              </li>
            </ul>
            <ul class="smft d-flex justify-content-between">
              <li><a href="https://www.facebook.com/cuevana3com/" class="fa fa-facebook-f"></a></li>
              <li><a href="https://twitter.com/Cuevana3Com" class="fa fa-twitter"></a></li>
            </ul>
          </nav>
        </div>
        <p class="copy tac">© 2022 Cuevana 3 Peliculas Online, Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>