<header [class.open]="toggleMenu">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-between">
        <figure class="logo">
          <a routerLink="/">
            <img src="./assets/logo.png" alt="">
          </a>
        </figure>
        <span class="MenuBtn" data-tgl="aa-wp" (click)="toggle()">
          <i></i><i></i><i></i>
        </span>
        <div class="right">
          <div class="search" clickOut (clickOutside)="isShow = false">
            <form (ngSubmit)="submit()">
              <span class="form-icon">
                <input type="text" name="s" placeholder="Buscar películas..." autocomplete="off" (focus)="isShow = true"
                  [formControl]="searchControl">
                <button type="submit"><i class="fa fa-search"></i></button>
                <div class="ep-autosuggest" *ngIf="isShow && listSearch.length || isLoadingSearch">
                  <div class="p-2" *ngIf="isLoadingSearch">Buscando...</div>
                  <ng-container *ngIf="!isLoadingSearch">
                    <app-card-movie-small *ngFor="let item of listSearch" [movie]="item">
                    </app-card-movie-small>
                  </ng-container>
                </div>
              </span>
            </form>
          </div>
          <div class="login">
            <button class="btn btn-link" routerLink="/auth/sign-in">Entrar</button>
            <button class="btn btn-primary">Registro</button>
          </div>
          <nav class="menu">
            <ul class="clearfix">
              <li class="menu-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
              </li>
              <li class="menu-item has-children">
                <a>Géneros</a>
                <ul class="sub-menu">
                  <li class="menu-item" *ngFor="let item of generos">
                    <a [routerLink]="['/categoria', item.id]">{{item.name}}</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item has-children one-row">
                <a>Películas</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a routerLink="/estrenos">Estrenos</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/ranking">Ranking</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/mas-vistas">Más Vistas</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/peliculas">Películas</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/adultos">Adultos</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a routerLink="/serie" routerLinkActive="active">Series</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>